<div class="unit-select">
  <button
    type="button"
    class="unit-select__trigger"
    aria-haspopup="listbox"
    [attr.aria-expanded]="open()"
    [attr.aria-activedescendant]="activeDescendantId()"
    (click)="toggle.emit()"
    (keydown)="onTriggerKeydown($event)"
  >
    <span class="unit-select__label">{{ unit() }}</span>
    <svg
      class="unit-select__arrow"
      width="10"
      height="5"
      viewBox="0 0 10 5"
      fill="var(--color-text-dark)"
      aria-hidden="true"
      focusable="false"
    >
      <path d="M0 0L5 5L10 0H0Z" />
    </svg>
  </button>

  @if (open()) {
    <ul class="unit-select__list" role="listbox">
      @for (u of units; track u; let i = $index) {
        <li
          [id]="optionId(i)"
          class="unit-select__option"
          [class.is-highlighted]="i === highlightedIndex()"
          role="option"
          [attr.aria-selected]="i === highlightedIndex()"
          (click)="select.emit(u)"
        >
          {{ u }}
        </li>
      }
    </ul>
  }
</div>
